<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navigation Menu</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="logo" href="/">EBev</a>
                <ul class="nav-menu">
                    <li><a href="blog">Blogs</a></li>
                </ul>
            </div>
        </nav>

        <body>
            <router-outlet></router-outlet>
        </body>
    </header>
</body>

</html>